<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Ne pas réécrire si le fichier existe réellement
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirige tout vers index.php (sauf fichiers/dossiers existants)
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>