@import url(/node_modules/bootstrap-icons/font/bootstrap-icons.css);
@import 'custom';

html{
    position: relative;
    min-height: 100%;
}
body{
    background-color: $white-secondary;
}

/* styles header */
.header-sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: $white-primary;
}
.container-fluid{
    margin: 0px 67.5px;
    padding: 24px;
}
.navbar-brand{
    color: $primary !important;
    font-weight:700; 
    letter-spacing:.06em; 
    font-size:1.25rem;
}
.nav-link{
    color: $primary !important;
}

/* Footer */
footer.footer{
    padding: 10px;
    position: absolute;
    bottom: 0;
    width:100%;
    p{
        color: $white-secondary;
        a.link-underline-primary{
            color: $white-secondary;
    }
}
}