# Docker
.env
.env.production

# Base de données
*.sql
database/db_prod.sql


# Logs
*.log
docker/nginx/logs/

# OS
dis/
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Dépendances
node_modules/
vendor/
backend/vendor/
frontend/node_modules

vendor

backend/public/uploads/**
!backend/public/uploads/.gitkeep
!backend/public/uploads/menus/.gitkeep